<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominiks.beautifulgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Beautiful Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBucketList">
        <activity
            android:name="com.dominiks.beautifulgame.StadiumsToGoActivity"
            android:label="Stadiums To Go"
            android:parentActivityName="com.dominiks.beautifulgame.MainActivity"/>
        <activity
            android:name="com.dominiks.beautifulgame.WaysToPlayActivity"
            android:label="Ways to Play"
            android:parentActivityName="com.dominiks.beautifulgame.MainActivity"/>
        <activity
            android:name="com.dominiks.beautifulgame.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>